<!doctype html>
<html>
<head>
<title>Angular JS Controller</title>
</head>

<body>

<div ng-app="goaltableApp" ng-controller="GoaltableCtrl">

  <div>

    <table>
      <thead><tr>
          <th>Name</th>
          <th>Tore</th>
          <th>Spiele</th>
          <th>Total</th>
          <th>Quote</th>
        </tr>
      </thead>
      <tbody>
        <tr  ng-repeat="player in players">
          <td class="name">{{ player.name }}</td>
          <td class="goals">{{ player.tore }}</td>
          <td>{{ player.spiele }}</td>
          <td>{{ player.toregesamt }}</td>
          <td>{{ player.quote }}</td>
        </tr>
    </tbody>
    </table>
  </div>

</div>

</body>
</html>


  <script src="lib/jquery.min.js"></script>
  <script src="lib/angular.min.js"></script>
  <script src="src/main.js"></script>
  <script src="src/other.js"></script>
</body>
</html>
